@import url('/static/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.backface-hidden {
    backface-visibility: hidden;  
}

.scroll-snap-x {
    scroll-snap-type: x mandatory;
}

.snap-center {
    scroll-snap-align: center;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}