---
layout: default
title: KRAI
path: home
---
<div class="relative overflow-hidden w-full h-screen flex">
  <div class="absolute w-full h-screen bg-hero-sky bg-no-repeat bg-cover z-0" data-rellax-speed="-10"></div>
  <div class="absolute w-full h-full bg-hero-mnt bg-no-repeat bg-cover bg-center rellax z-10" data-rellax-speed="-8"></div>
  <div class="absolute w-full h-screen bg-hero-bear bg-no-repeat bg-bottom bg-cover z-30 pointer-events-none"></div>
  <div class="absolute w-full h-screen flex items-center rellax z-20" data-rellax-speed="-6">
    <article class="container text-white">
        <div class="">
          <h1 class="font-alpha text-13xl leading-none -ml-5">KRAI*</h1>
          <p class="font-neub w-2/4 ">Join us for an epic week of hiking, team-bonding, and digital detoxing. This month, one-time only, in Kamchatke.</p>
          <button class="mt-6 bg-white text-highlight font-neub font-semibold text-lg tracking-widest px-4 py-2 flex flex-row">
            Adventure
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-6 w-3" width="19" height="26" viewBox="0 0 19 26">
              <polygon fill="currentColor" fill-rule="evenodd" points="0 0 0 26 19 12.997"/>
            </svg>
          </button>
        </div>
    </article>
  </div>
</div>

<article class="bg-gradient-to-b from-gradient-1 to-gradient-2 py-28">
  <div class="container">
    <div class="flex flex-nowrap justify-between pb-8 border-b border-primary border-opacity-70">
      <h2 class="font-neub text-white text-5xl leading-none w-80">Choose your Adventure</h2>
      <p class="text-white"><span class="text-highlight font-bold">01</span> / Range of Activities</p>
    </div>
    <p class="text-white font-neub w-4/6 pt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-12 mt-8">
      
      {% include "./_includes/partials/card.html" %}
      
    </div>
  </div>
</article>

<article class="bg-gradient-1 py-28">
  <div class="container">

    <div class="flex flex-nowrap justify-between pb-8 border-b border-primary border-opacity-70">
      <h2 class="font-neub text-white text-5xl leading-none w-80">Browse our Gallery</h2>
      <p class="text-white"><span class="text-highlight font-bold">02</span> / Browse our Gallery</p>
    </div>
    <p class="text-white font-neub w-4/6 pt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
    
    {% include "./_includes/partials/gallery.html" %}

  </div>
</article>